
#listing a:hover, div.row.listing a:hover {
  text-decoration: none;
}
a {
  color: black;
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-image: url(../img/hesa.jpg);
  background-repeat: no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
h2 {
  line-height: 30px;
  font-size: 22px;
  font-weight: normal;
}
h3 {
  line-height: 30px;
  font-weight: normal;
  font-size: 19px;

}
.lead {
  line-height: 25px;
  font-size: 21;
}

.label {
  margin-bottom: 25px;
  margin-right: 10px;
}
#map { 
  height: 220px; 
  width: 200px;
  margin: 5px 0px 5px 0px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}